config/*.yaml
**/nltk_data/
**/__pycache__/
docs/paper/*
docs/paper/ainara.tex
fireworks_ai/
static/
build/*
dist/*
ainara/resources/*
resources/*
#scripts/pyinstaller/runtime_hook.py
ainara.egg-info/*
scripts/migration/drop_*/assets/
scripts/migration/drop_*/cache*.json
scripts/migration/drop_*/sugar.log
polaris/**/*.jsc
ainara/nexus/*
docs
pyarmor.bug.log
pyarmor-*
