**/__pycache__/
**/nltk_data/
ainara.egg-info/*
ainara/nexus/*
ainara/resources/*
build/*
config/*.yaml
dist/*
docs
docs/paper/*
docs/paper/ainara.tex
fireworks_ai/
polaris/**/*.jsc
pyarmor-*
pyarmor.bug.log
resources/*
scripts/migration/drop_*/assets/
scripts/migration/drop_*/cache*.json
scripts/migration/drop_*/sugar.log
scripts/pyinstaller/runtime_hook.py
static/
