<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Chat Display</title>
</head>
<body>
    <template id="chat-display-template">
        <div class="chat-container">
            <!-- Messages will be dynamically inserted here -->
        </div>
        <div class="status-bar">
            <div class="typing-indicator hidden">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </template>
    <chat-display></chat-display>
    <script src="./chat-display.js"></script>
</body>
</html>
